body {
  background-color: #576;
  background-image: url(86280b486afd6fe00ef88981230077f8.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #154877;
  color: #FFF;
  font-size: 1.8em; }

